In [2]:
import pandas as pd 
import numpy as np

In [5]:
county_strata = pd.read_csv('categoricals.csv')
county_tree = pd.read_csv('county_tree_temp_dwp_prcp_Kent.csv')
county_strata.head()

,Unnamed: 0,state_county,physiographic_class_code,growingstock_stocking_code,state_code,county_code
0,0,9009,2.0,2.0,9,9
1,1,9005,2.0,2.0,9,5
2,2,9011,2.0,3.0,9,11
3,3,9013,2.0,2.0,9,13
4,4,24045,2.0,2.0,24,45

In [16]:
phys_cats = np.empty(len(county_trees))
gr_cats = np.empty(len(county_trees))
for i in range(len(county_trees)):
    phys_cats[i] = np.array(county_strata.loc[(county_strata.state_code == county_tree.state_code[i]) & (county_strata.county_code == county_tree.county_code[i])].physiographic_class_code)[0]
    gr_cats[i] = np.array(county_strata.loc[(county_strata.state_code == county_tree.state_code[i]) & (county_strata.county_code == county_tree.county_code[i])].growingstock_stocking_code)[0]
county_tree['phys_class_code']=phys_cats
county_tree['grow_class_code']=gr_cats

In [17]:
county_tree

,year,state_code,county_code,species,latitude,longitude,volume,Biomass,number_trees,mean_temp,mean_dwp,mean_prcp,phys_class_code,grow_class_code
0,2001,1,1,loblolly pine,32.578953,-86.593001,580.837421,12112.015753,148,67.470830,54.867025,0.153781,2.0,3.0
1,2001,1,1,red maple,32.620470,-86.587013,7.226856,182.733664,3,68.050000,54.900915,0.158415,2.0,3.0
2,2001,1,1,slash pine,32.515568,-86.626175,0.000000,16.737962,6,68.050000,54.900915,0.158415,2.0,3.0
3,2001,1,1,sweetgum,32.569998,-86.627121,161.481322,3499.375783,17,66.428324,54.806024,0.145440,2.0,3.0
4,2001,1,1,yellow-poplar,32.638274,-86.539808,35.165761,806.265958,8,68.050000,54.900915,0.158415,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45360,2019,48,457,red maple,30.901363,-94.226028,0.000000,98.256038,11,65.456250,56.725000,0.000000,2.0,3.0
45361,2019,48,457,sweetgum,30.901363,-94.226028,86.711529,872.180687,13,65.456250,56.725000,0.000000,2.0,3.0
45362,2019,48,471,loblolly pine,30.759488,-95.662211,679.064546,13028.006786,23,68.726519,57.909392,0.098343,2.0,3.0
45363,2019,48,471,sweetgum,30.781962,-95.594315,12.674485,363.300493,10,68.726519,57.909392,0.098343,2.0,3.0
45364,2019,48,473,loblolly pine,30.154566,-95.804222,80.081194,1585.137314,3,69.121370,59.109041,0.138548,2.0,5.0

In [19]:
county_tree.to_csv('county_tree_climate_cats_DMH.csv')

In [6]:
county_tree = pd.read_csv('county_top_10_tree_temp_dwp_prcp_KT.csv')

In [10]:
phys_cats = np.empty(len(county_tree))
gr_cats = np.empty(len(county_tree))
for i in range(len(county_tree)):
    phys_cats[i] = np.array(county_strata.loc[(county_strata.state_code == county_tree.state_code[i]) & (county_strata.county_code == county_tree.county_code[i])].physiographic_class_code)[0]
    gr_cats[i] = np.array(county_strata.loc[(county_strata.state_code == county_tree.state_code[i]) & (county_strata.county_code == county_tree.county_code[i])].growingstock_stocking_code)[0]
county_tree['phys_class_code']=phys_cats
county_tree['grow_class_code']=gr_cats

In [12]:
county_tree.to_csv('county_top_10_tree_climate_cats_DMH.csv')