In [1]:
import pandas as pd
import numpy as np
import bq_helper
from bq_helper import BigQueryHelper

In [3]:
noaa_gsod = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                     dataset_name= "noaa_gsod")

In [4]:
bq_assistant = BigQueryHelper("bigquery-public-data", "noaa_gsod")

bq_assistant.list_tables()

['gsod1929',
 'gsod1930',
 'gsod1931',
 'gsod1932',
 'gsod1933',
 'gsod1934',
 'gsod1935',
 'gsod1936',
 'gsod1937',
 'gsod1938',
 'gsod1939',
 'gsod1940',
 'gsod1941',
 'gsod1942',
 'gsod1943',
 'gsod1944',
 'gsod1945',
 'gsod1946',
 'gsod1947',
 'gsod1948',
 'gsod1949',
 'gsod1950',
 'gsod1951',
 'gsod1952',
 'gsod1953',
 'gsod1954',
 'gsod1955',
 'gsod1956',
 'gsod1957',
 'gsod1958',
 'gsod1959',
 'gsod1960',
 'gsod1961',
 'gsod1962',
 'gsod1963',
 'gsod1964',
 'gsod1965',
 'gsod1966',
 'gsod1967',
 'gsod1968',
 'gsod1969',
 'gsod1970',
 'gsod1971',
 'gsod1972',
 'gsod1973',
 'gsod1974',
 'gsod1975',
 'gsod1976',
 'gsod1977',
 'gsod1978',
 'gsod1979',
 'gsod1980',
 'gsod1981',
 'gsod1982',
 'gsod1983',
 'gsod1984',
 'gsod1985',
 'gsod1986',
 'gsod1987',
 'gsod1988',
 'gsod1989',
 'gsod1990',
 'gsod1991',
 'gsod1992',
 'gsod1993',
 'gsod1994',
 'gsod1995',
 'gsod1996',
 'gsod1997',
 'gsod1998',
 'gsod1999',
 'gsod2000',
 'gsod2001',
 'gsod2002',
 'gsod2003',
 'gsod2004',
 'gsod2005',
 'gsod2006',
 'gsod2007',
 'gsod2008',
 'gsod2009',
 'gsod2010',
 'gsod2011',
 'gsod2012',
 'gsod2013',
 'gsod2014',
 'gsod2015',
 'gsod2016',
 'gsod2017',
 'gsod2018',
 'gsod2019',
 'gsod2020',
 'stations']

In [37]:
query1 = """
            SELECT 
                usaf AS Station_numbers, 
                lat AS Latitude, 
                lon AS Longitude, 
            FROM 
                `bigquery-public-data.noaa_gsod.stations` 
            WHERE 
                country = 'US' AND lat IS NOT NULL AND lon IS NOT NULL AND NOT (lat = 0.0 AND lon = 0.0) 
            ORDER BY 
                usaf
        """
query2 = """
            SELECT 
                stn AS Station_number, 
                year AS Year, 
                mo AS Month, 
                da AS day,
                temp AS Mean_temp,
            FROM 
                `bigquery-public-data.noaa_gsod.gsod2020`  
        """

In [29]:
stations = noaa_gsod.query_to_pandas_safe(query1, max_gb_scanned=10)

In [38]:
gsod2020 = noaa_gsod.query_to_pandas_safe(query2, max_gb_scanned=10)

In [46]:
gsod2020 = gsod2020.loc[gsod2020.Station_number ==stations.Station_numbers]

ValueError: Can only compare identically-labeled Series objects

In [42]:
gsod2020.head()

  Station_number  Year Month day  Mean_temp
0         170700  2020    05  01       58.3
1         406220  2020    05  01       71.5
2         420830  2020    02  01       37.4
3         423990  2020    05  01       83.4
4         428910  2020    05  01       82.1

In [43]:
stations

     Station_numbers  Latitude  Longitude
0             621010    50.600     -2.933
1             621110    58.900     -0.200
2             621130    58.400      0.300
3             621160    58.100      1.800
4             621170    57.900      0.100
5             621220    56.500      2.017
6             621250    53.800     -3.800
7             621260    53.800     -3.600
8             621300    53.000      1.700
9             621370    57.350      1.467
10            621430    58.300      0.400
11            621500    58.000      0.600
12            625600    30.100    -19.400
13            625630    31.200    -13.500
14            625650    28.100    -15.100
15            625660    29.500    -14.400
16            625750    27.600    -16.100
17            625760    27.300    -18.100
18            631080    60.133      1.700
19            631100    59.500      1.517
20            690014    32.350   -106.367
21            690020    36.000   -121.233
22            690020    36.000   -121.233
23            690070    36.683   -121.767
24            690090    30.433    -86.717
25            690110    42.608    -82.835
26            690140    33.667   -117.733
27            690150    34.300   -116.167
28            690150    34.300   -116.167
29            690170    36.533   -115.567
...              ...       ...        ...
7166          A00015    36.960   -113.014
7167          A00016    37.583   -109.483
7168          A00017    41.019    -89.386
7169          A00018    39.383   -112.517
7170          A00019    34.226    -99.284
7171          A00021    37.601    -81.559
7172          A00022    30.131    -93.376
7173          A00023    30.350    -81.883
7174          A00024    30.507    -86.960
7175          A00026    48.217   -122.633
7176          A00028    40.619   -111.993
7177          A00029    36.380    -88.985
7178          A00031    38.994    -79.144
7179          A00032    52.220   -174.206
7180          A05735    33.600    -97.783
7181          A06773    36.859    -83.358
7182          A06800    37.067    -81.800
7183          A06854    34.264   -116.854
7184          A06884    38.667    -78.501
7185          A07049    38.250   -122.600
7186          A07053    40.983   -122.694
7187          A07056    44.874    -87.910
7188          A07086    41.516    -82.869
7189          A07141    47.423    -98.106
7190          A07354    44.033    -89.300
7191          A07355    43.579    -90.913
7192          A07357    45.986    -95.992
7193          A07359    42.938    -85.061
7194          A51255    32.464    -87.954
7195          A51256    36.699    -93.402

[7196 rows x 3 columns]